
@using InventoryMVC.Models.ViewModels;
@using InventoryMVC.Helpers;
@model PaginatedList<SupplierViewModel>;

@{
    ViewData["Title"] = "Suppliers";
}

<div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-primary">Suppliers</h1>
        <a class="btn btn-primary mb-3" asp-action="Create">Add new supplier</a>
    </div>

    @if (Model.Count() > 0)
    {
        <div class="row text-center">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model[0].SupplierName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].Telephone)
                        </th>
                        <th>
                            Products
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var supplier in Model)
                    {
                        <tr id="row_@supplier.Id">
                            <td>
                                @Html.DisplayFor(modelItem => supplier.SupplierName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => supplier.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => supplier.Telephone)
                            </td>
                            <td>
                                <a asp-controller="ProductSupplier" asp-action="GetProducts" asp-route-id="@supplier.Id">List of products</a>
                            </td>
                            <td>
                                <a class="btn btn-primary py-1" asp-controller="Supplier" asp-action="Edit" asp-route-id="@supplier.Id">Edit</a>
                                <a class="btn btn-danger py-1" onclick="ConfirmDelete(@supplier.Id, 'Delete Supplier', '@supplier.SupplierName')">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @await Html.PartialAsync("_PaginationPartial",
            new PaginationInfo
            {
                PreviousDisabled = !Model.HasPrevious,
                NextDisabled = !Model.HasNext,
                PageNumber = Model.PageNumber,
                TotalPages = Model.TotalPages
            }
        );
    }
    else
    {
        <h2>There aren't suppliers yet</h2>
    }

</div>

<!-- Modal -->
@await Html.PartialAsync("_ConfirmDelete",
                    new ItemInfo
                    {
                        ControllerName = "Supplier",
                        ActionName = "Delete",
                    })


@section scripts{

    <script src="js/delete.js"></script>

}


