@model IEnumerable<InventoryMVC.Models.ViewModels.ProductStockViewModel>

@{
    ViewData["Title"] = "Stock";
}


<div class="container">

    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-primary">Stock</h1>
        <form class="form-inline" asp-action="Index" method="get" autocomplete="off">
            <div class="form-group">
                <input class="form-control mx-1" name="searchString" value="@ViewBag.SearchString" placeholder=" -- All products -- "/>
                <button class="btn btn-primary" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>   
    </div>


    @if (Model.Count() > 0)
    {
        <div class="row text-center">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stock)
                        </th>
                        <th width="35%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stockItem in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => stockItem.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => stockItem.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => stockItem.Stock)
                            </td>
                            <td width="35%">
                                <a class="btn btn-outline-primary py-1 mx-1" asp-controller="Stock" asp-action="RegisterStock" asp-route-id="@stockItem.Id">Register stock</a>
                                <a class="btn btn-outline-secondary py-1 mx-1" asp-controller="Stock" asp-action="Movements" asp-route-id="@stockItem.Id">Stock movements</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h2>There isn't stock yet</h2>
    }

</div>



