@model IEnumerable<InventoryMVC.Models.ViewModels.SupplierViewModel>

@{ 
    var productName = (string)ViewBag.ProductName;
    var productId = (int)ViewBag.ProductId;
} 

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-primary">Suppliers - @productName</h2>
        <div class="buttons">
            <a class="btn btn-primary mb-3" asp-controller="ProductSupplier" asp-action="AddSupplier" asp-route-id="@productId">
                Add supplier
            </a>
            <a class="btn btn-secondary mb-3" asp-controller="Product" asp-action="Index">
                Go back
            </a>
        </div>
    </div>
    
    @if (Model.Count() > 0)
    {
        <div class="row">

            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.SupplierName)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.Telephone)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var supplier in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => supplier.SupplierName)</td>
                            <td>@Html.DisplayFor(modelItem => supplier.Email)</td>
                            <td>@Html.DisplayFor(modelItem => supplier.Telephone)</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
    else
    {
        <h3>There are not suppliers registered for this product</h3>
    }
</div>
